<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-hiking"></i> Welcome to MoonHikes!</h1>
            <p>View the best trails from all over Alberta</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/trails/new">Add New Trail</a>
            </p>
            <p>
                <form action="/trails" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Trail search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </header>
    <div class="row flex text-center equal-height">
        <% if(noMatch !== undefined && noMatch!=="no search"){ %>
            <h3 style="padding-left:15px;"><%= noMatch %></h3>
        <% } else if(noMatch !== "no search"){ %>
            <% if(trails.length === 1){ %>
                <h3 class="pull-left" style="padding-left:15px;">1 result found: <br></h3>
            <% } else {%>
                <h3 class="pull-left" style="padding-left:15px;"><%=trails.length %> results found: <br></h3>
            <% } %>
        <% } %>
    </div>
    <div class="grid max-w-4xl mx-auto p-8">
        <% trails.forEach(function(trail){ %>
            <a href="/trails/<%= trail._id %>" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md text-center ">
                <img class="w-full block rounded-b" src="<%= trail.image %>">
                <p class="text-3xl p-6"><%= trail.name %></p>
            </a>
        <% }); %>
    </div>
       
    <!--<div class="row flex text-center equal-height">-->
    <!--    <div class="col-sm-12">-->
    <!--        <% if(noMatch !== undefined && noMatch!=="no search"){ %>-->
    <!--            <h3><%= noMatch %></h3>-->
    <!--        <% } else if(noMatch !== "no search"){ %>-->
    <!--            <% if(trails.length === 1){ %>-->
    <!--                <h3 class="pull-left">1 result found:</h3>-->
    <!--            <% } else {%>-->
    <!--                <h3 class="pull-left"><%=trails.length %> results found:</h3>-->
    <!--            <% } %>-->
    <!--        <% } %>-->
    <!--    </div>-->
    <!--    <% trails.forEach(function(trail){ %>-->
    <!--        <div class="col-md-3 col-sm-6">-->
    <!--            <div class="thumbnail indexPage">-->
    <!--                <a href="/trails/<%= trail._id %>">-->
    <!--                    <img src="<%= trail.image %>">-->
    <!--                    <div class="caption">-->
    <!--                        <h4><%= trail.name %></h4>-->
    <!--                    </div>-->
    <!--                </a>-->
    <!--                <p>-->
    <!--                    <a href="/trails/<%= trail._id %>" class="btn btn-primary">-->
    <!--                        More Info-->
    <!--                    </a>-->
    <!--                </p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    <% }); %>-->
    <!--</div>-->
    

<% include ../partials/footer %>
