<div class="well">
    <h4><a href="/trails/<%= trail._id %>/photos/new">Upload new photo</a></h4>
    <div class="mason-grid">
        <div class="grid-sizer"></div>
        <% trail.photos.forEach(function(photo){ %>
            <div class="grid-item">
                    <a href="<%= photo.url %>" rel="noopener noreferrer" target="_blank"><img src="<%= photo.url %>" id="fullImage"></a>
                    <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>
                        <!--Delete comment button-->
                        <form id="delete-form" action="/trails/<%= trail._id %>/photos/<%= photo._id %>?_method=DELETE" method="POST">
                             <button class="image-button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    <% } %>
            </div>
        <% }); %>
    </div>
    <!--<div class="row flex text-center equal-height">-->
    <!--    <% trail.photos.forEach(function(photo){ %>-->
    <!--        <div class="col-md-3 col-sm-6">-->
    <!--            <div class="thumbnail">-->
    <!--                <a href="<%= photo.url %>"><img src="<%= photo.url %>" id="fullImage"></a>-->
    <!--                <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>-->
                        <!--Delete comment button-->
    <!--                    <form id="delete-form" action="/trails/<%= trail._id %>/photos/<%= photo._id %>?_method=DELETE" method="POST">-->
    <!--                         <button class="image-button"><i class="fas fa-trash-alt"></i></button>-->
    <!--                    </form>-->
    <!--                <% } %>-->
    <!--            </div>-->
                
    <!--        </div>-->
    <!--    <% }); %>-->
    <!--</div>-->
</div>