<% include ../partials/header %>
<div>
    <h3 class="no-top-margin"><%= trail.name %></h3>
        <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#gallery" data-toggle="tab">Image Gallery</a></li>
        <li><a href="#detail" data-toggle="tab">Detailed Info</a></li>
    </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="home">
            <% include showTab1 %>
        </div>
        <div class="tab-pane" id="gallery">
            
        </div>
        <div class="tab-pane" id="detail">
            <div class="well">
                More detailed trail data will be added here
            </div>
        </div>
    </div>
</div>



<!--for opening the same tab on refresh-->


<!--initialize masonry-->
<script>
    // init Masonry
    var $grid = $('.mason-grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });
    
</script>



<!--google maps-->
<script>
  function initMap() {
    var lat = <%= trail.lat %>;
    var lng = <%= trail.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= trail.name %><br />
      <%= trail.location %></strong>
      <p><%= trail.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADqGz6I4ErMW4iam2Bxj_nrHywPAv2P4w&callback=initMap"></script>



<% include ../partials/footer %>
