<% include ../partials/header %>


<div class="container main-container">
  <div class="trail-name text-center">
    <h2 class="no-top-margin" style="padding-top:30px;"><%= trail.name %></h2>
  </div>
	
	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">Overview</a></li>
			<li role="presentation"><a href="#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">Image Gallery</a></li>
			<li role="presentation"><a href="#panel-3" aria-controls="panel-3" role="tab" data-toggle="tab">More Info</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		
			<div role="tabpanel" class="tab-pane active" id="panel-1">
				<% include showTab1 %>
			</div><!--/.tab-panel -->
			
			<div role="tabpanel" class="tab-pane" id="panel-2">
				<% include showTab2 %>
			</div><!--/.tab-panel -->
			
			<div role="tabpanel" class="tab-pane" id="panel-3">
				<% include showTab3 %>
			</div><!--/.tab-panel -->
			

		</div> <!--/.tab-content -->

	</div> <!--/.tab-panel  -->

</div><!-- /.container -->


<!--google maps-->
<script>
  function initMap() {
    var lat = <%= trail.lat %>;
    var lng = <%= trail.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= trail.name %><br />
      <%= trail.location %></strong>
      <p><%= trail.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADqGz6I4ErMW4iam2Bxj_nrHywPAv2P4w&callback=initMap"></script>



<% include ../partials/footer %>
